.banner-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.filter-drop {
  float: left;
  position: absolute;
  align-items: center;
  left: 50px;
}

.welcome-msg {
  text-align: center;
  width: 95%;
  margin-top: 50px;
  h1 {
    color: white;
    width: 100%;
  }
}

.my-recipes-banner {
  @extend .welcome-msg;
  margin-top: 25px;
  display: none;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.recipes-to-cook-banner {
  @extend .welcome-msg;
  margin-top: 25px;
  display: none;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.show-all-btn {
  @extend .show-pantry-recipes-btn;
  height: 40px;
  margin-top: 20px;
  width: 200px;
}

.error-msg {
  color: red;
  font-size: 25px;
  position: absolute;
  right: 1%;
}
