header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  padding: 0% 0%;
  width: 100%;
}

.header-apple-icon {
  margin-left: 5px;
  width: 35px;
}

#search {
  border-radius: 15px 15px 15px 15px;
  border: 3px outset $limeGreenBackground;
  display: flex;
  flex-direction: row;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;
}

#search-input {
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
  border-radius: 10px 0px 0px 10px;
  border: none;
  @include font-size-family(36px, "Quicksand");
  outline: none;
  padding-right: 2%;
  transition: .8s ease;
  width: 100%;
  text-align: right;

  &:focus {
    box-shadow: inset 0px 0px 0px 0px white;
  }

  &::placeholder {
    color: $grayishBlue;
    font-size: 20px;
    text-align: right;
    text-shadow: none;
  }

  &:focus::placeholder {
    font-size: 0px;
    transition: .8s ease;
  }
}

.search-label {
  display: none;
}

.search-btn {
  border-left: 3px outset $limeGreenBackground;
  border-radius: 0px 15px 15px 0px;
  padding: 1%;
}

.nav-btn {
  color: white;
  @include flex-center-align();
  flex-direction: column;
  background: $grayishBlue;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: .4s ease;
  width: 15%;

  &:hover {
    color: $limeGreenBackground;
    text-shadow: 0px 2px 4px black;
    transition: .4s ease;
  }

  img {
    max-height: 40px;
    max-width: 40px;
    padding: 2px 0px;
  }
}

.saved-ingredients-btn {
  border-left: $navBorder;
}

.recipes-to-cook-btn,
.drop {
  border-right: $navBorder;
}

.white {
  border-right: none;
  filter: invert(97%) sepia(85%) saturate(2%) hue-rotate(150deg) brightness(118%) contrast(100%);
}

.ing-pan-btn {
  margin: 1% 0%;
  padding: 1px 6px 5px 0px;
}

.show-pantry-recipes-btn{
  background-color: $greenCardText;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  @include font-size-family(12px, "Quicksand");
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
}
