@mixin sticky-position {
  position: sticky;
  top: 0;
}

@mixin font-size-family($size, $family) {
  font-size: $size;
  font-family: $family;
}

@mixin flex-center-justify() {
  display: flex;
  justify-content: center;
}

@mixin flex-center-align() {
  display: flex;
  align-items: center;
}
